body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h2, h3 {
  color: #333;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

button {
  margin-left: auto;
  padding: 0.5rem 0.75rem;
  background-color: #E9B06C;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

label{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

label input , label select{
  width: 50%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label select{
  width: 55%;
}